/*https://www.youtube.com/watch?v=PwWHL3RyQgk*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
/*spremeni font na nekaj drugega - mogoče na tistega iz Levstika*/
/*barve iz color schema*/
$ena: rgba(34, 40, 49, 1);
$dva: rgba(57, 62, 70, 1);
$tri: rgba(0, 173, 181, 1);
$stiri: rgba(238, 238, 238, 1);

$font-verzija: "Montserrat", sans-serif;
$font-teza: 500;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $stiri;

  font-family: $font-verzija;
  font-weight: $font-teza;
  color: $ena;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10%;

  background-color: $ena;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  li,
  a,
  button {
    font-family: $font-verzija;
    font-weight: $font-teza;
    font-size: 16px; /*mogoče dodam v spremenljivko, ali pa v * */

    color: $stiri;
    text-decoration: none;
  }

  img {
    width: 80px;
    height: 80px;
    border: 0;
    padding: 0;
    background: transparent;
  }
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
  background-color: $ena;

  li {
    display: inline-block;
    padding: 0px 20px;
    color: $stiri;
    background-color: $ena;

    a {
      transition: all 0.3s ease 0s;
      color: $stiri;
      background-color: $ena;
    }
    a:hover {
      color: $tri;
    }
  }
}

button {
  padding: 9px 25px;
  background-color: $tri;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease 0s;

  :hover {
    background-color: rgba(0, 173, 181, 0.6);
    /*mogoče dodan tegale zgoraj kot svojo spremenljivko*/
  }
}

.cta {
  background-color: $ena;
}
